[submodule "cuda"]
	path = cuda
	url = https://github.com/agguro/asm-linux-cuda.git
[submodule "projects/cuda-complex-quadsolver"]
	path = projects/complex-quadsolver
	url = https://github.com/agguro/cuda-complex-quadsolver.git
[submodule "projects/ticker-gbm"]
	path = projects/ticker-gbm
	url = https://github.com/agguro/ticker-gbm.git
[submodule "x86_64"]
	path = x86_64
	url = https://github.com/agguro/asm-linux-x86_64.git
[submodule "riscv"]
	path = riscv
	url = https://github.com/agguro/asm-linux-riscv.git
[submodule "aarch"]
	path = aarch
	url = https://github.com/agguro/asm-linux-aarch.git
[submodule "espressif"]
	path = espressif
	url = https://github.com/agguro/asm-espressif-baremetal.git
[submodule "avr"]
	path = avr
	url = https://github.com/agguro/asm-avr.git
[submodule "projects/nuclideid"]
	path = projects/nuclideid
	url = https://github.com/agguro/nuclideid.git
[submodule "xtensa"]
	path = xtensa
	url = https://github.com/agguro/asm-linux-xtensa.git
